<%= setup_context :object => @prdcl_title, :title => I18n.t("actions.defaults") %>

<%= form_for @prdcl_title, :as => "prdcl_title", :url => {:action => :update_defaults}, :html => {:class => 'form-horizontal aspace-record-form'} do |f| %>
  <%= form_context :prdcl_title, @prdcl_title do |form| %>
    <div class="row">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "prdcl_titles/sidebar" %>
      </div>
      <div class="col-md-9">
        <div class="record-pane">
          <%= link_to_help :topic => "prdcl_title" %>
          <h2><%= I18n.t("default_values.form_title.prdcl_title") %>  <span class="label label-info"><%= I18n.t("prdcl_title._singular") %></span></h2>
          <br/>

          <%= render_aspace_partial :partial => "prdcl_titles/form", :locals => {:form => form} %>

          <div class="form-actions">
            <div class="btn-group">
              <button type="submit" class="btn btn-primary"><%= I18n.t("actions.save_prefix") %> <%= I18n.t("prdcl_title._singular") %></button>
              <button type="submit" id="createPlusOne" name="plus_one" class="btn btn-primary createPlusOneBtn"><%= I18n.t("actions.save_plus_one") %></button>
            </div>
            <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
