<% define_template "prdcl", jsonmodel_definition(:prdcl) do |form| %>
<%= javascript_include_tag "#{@base_url}/assets/javascripts/generate_prdcl_titles.js" %>
  <div class="subrecord-form-fields">
	<br/>
	<div class="subrecord-form-container">
	  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "prdcl_links", :heading_size => "h5", :cardinality => "zero_to_one"} %>
    </div>
	<%= form.label_and_textfield "publication" %>
	<%= form.label_and_textfield "publisher" %>
    <%= form.label_and_textfield "volume_num" %>
	<%= form.label_and_textfield "issue_num" %>
	<%= form.label_and_textfield "num_of_articles" %>
	<%= form.label_and_textfield "num_of_issues" %>
	<%= form.label_and_textfield "donor" %>
	<%= form.label_and_textfield "pub_city" %>
	<%= form.label_and_textfield "pub_country" %>
    <%= form.label_and_select("pub_frequency", form.possible_options_for("pub_frequency", true)) %>
    <%= form.label_and_select("pub_format", form.possible_options_for("pub_format", true)) %>
    <hr/>
    <%= form.label_and_boolean("potential", {}, user_prefs["potential"]) %>
	<%= form.label_and_textfield "association" %>
	<%= form.label_and_textfield "contact_name" %>
	<%= form.label_and_textfield "addprdcl_ress" %>
	<%= form.label_and_textfield "phone" %>
	<%= form.label_and_textfield "email" %>
	<%= form.label_and_textfield "place" %>
	<%= form.label_and_textfield "city" %>
	<%= form.label_and_textfield "state" %>
	<%= form.label_and_textfield "country" %>
	<%= form.label_and_textfield "zip" %>
	<%= form.label_and_textarea "general_note" %>
	<%= form.label_and_date "start" %>
	<%= form.label_and_date "end" %>

  </div>
<% end %>